/* Dropdown Multi Level */
@media screen and (min-width:576px) {
	.dropdown .dropdown-menu {
		display: none;
	}
	.dropdown:hover > .dropdown-menu {
		display: block;
		margin-top: 0;
	}
	.nav-item .dropdown:hover > .dropdown-menu {
		position: absolute;
		top: 0;
		left: 100%;
		margin-left: 0.125em;
	}
}
.btn-greenwin {
    --bs-btn-color: #fff;
    --bs-btn-bg: #066124;
    --bs-btn-border-color: #066124;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424649;
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}
.dropdown-menu-greenwin {
    --bs-dropdown-color: #dee2e6;
    --bs-dropdown-bg: #066124;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-box-shadow: ;
    --bs-dropdown-link-color: #dee2e6;
    --bs-dropdown-link-hover-color: #fff;
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-header-color: #adb5bd;
}
.btn-outline-greenwin {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #066124;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #066124;
    --bs-btn-hover-border-color: #1b6baa;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1b6baa;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(27, 107, 170, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
}
a.navbar-brand, a.nav-link, a.dropdown-item {
	font-style: normal;
}
.bg-greenwin, .navbar-greenwin {
	background-color: #066124 !important;
}
a.bg-greenwin:hover, a.bg-greenwin:focus,
button.bg-greenwin:hover, button.bg-greenwin:focus {
	background-color: #295f91 !important;
}
.navbar-greenwin .navbar-brand {
    color: #ecf0f1;
}
.navbar-greenwin .navbar-brand:hover,
.navbar-greenwin .navbar-brand:focus {
    color: #baeff3;
}
.navbar-greenwin .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}
.navbar-greenwin .navbar-nav .nav-link:hover,
.navbar-greenwin .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.95);
}
.navbar-greenwin .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}
.navbar-greenwin .navbar-nav .show > .nav-link,
.navbar-greenwin .navbar-nav .active > .nav-link,
.navbar-greenwin .navbar-nav .nav-link.show,
.navbar-greenwin .navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-greenwin .navbar-toggler {
    color: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.1);
}
.navbar-greenwin .navbar-toggler-icon {
    background: #1b6baa;
}
.navbar-greenwin .navbar-text {
    color: #ecf0f1;
}
.navbar-greenwin .navbar-text a,
.navbar-greenwin .navbar-text a:hover,
.navbar-greenwin .navbar-text a:focus {
    color: #baeff3;
}
.navbar-greenwin .navbar-nav > li > a {
    color: #ecf0f1;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}
.navbar-greenwin .navbar-nav > li > a:hover,
.navbar-greenwin .navbar-nav > li > a:focus {
    color: #baeff3;
    background: #1b6baa;
}
.navbar-greenwin .navbar-nav > li > .dropdown-menu {
    background: #066124;
}
.navbar-greenwin .navbar-nav > li > .dropdown-menu > li > a,
.navbar-greenwin .navbar-nav > li > .dropdown-menu > a.dropdown-item {
    color: #ecf0f1;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}
.navbar-greenwin .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-greenwin .navbar-nav > li > .dropdown-menu > a.dropdown-item:hover,
.navbar-greenwin .navbar-nav > li > .dropdown-menu > a.dropdown-item:focus,
.navbar-greenwin .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #baeff3;
    background: #1b6baa;
}
footer.bg-greenwin {
	color: white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
footer.bg-greenwin > .row > .col-sm > a {
	color: rgba(235, 229, 52, 1.0);
}
footer.bg-greenwin > .row > .col-sm > a:focus,
footer.bg-greenwin > .row > .col-sm > a:hover {
	text-shadow: 0 2px 2px rgba(235, 229, 52, 0.2);
}
.bg-redwin {
	background-color: #9c1a06 !important;
}
a.bg-redwin:hover, a.bg-redwin:focus,
button.bg-redwin:hover, button.bg-redwin:focus {
	background-color: #9c1a06 !important;
}
